                                                                                                            /* vietnamese */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 200;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARUoYFoCQ.woff2) format('woff2');
                                                                                                                unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
                                                                                                            }
                                                                                                            /* latin-ext */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 200;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARVoYFoCQ.woff2) format('woff2');
                                                                                                                unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
                                                                                                            }
                                                                                                            /* latin */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 200;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARboYE.woff2) format('woff2');
                                                                                                                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
                                                                                                            }
                                                                                                            /* vietnamese */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 400;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARUoYFoCQ.woff2) format('woff2');
                                                                                                                unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
                                                                                                            }
                                                                                                            /* latin-ext */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 400;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARVoYFoCQ.woff2) format('woff2');
                                                                                                                unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
                                                                                                            }
                                                                                                            /* latin */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 400;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARboYE.woff2) format('woff2');
                                                                                                                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
                                                                                                            }
                                                                                                            /* vietnamese */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 500;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARUoYFoCQ.woff2) format('woff2');
                                                                                                                unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
                                                                                                            }
                                                                                                            /* latin-ext */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 500;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARVoYFoCQ.woff2) format('woff2');
                                                                                                                unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
                                                                                                            }
                                                                                                            /* latin */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 500;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARboYE.woff2) format('woff2');
                                                                                                                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
                                                                                                            }
                                                                                                            /* vietnamese */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 700;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARUoYFoCQ.woff2) format('woff2');
                                                                                                                unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
                                                                                                            }
                                                                                                            /* latin-ext */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 700;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARVoYFoCQ.woff2) format('woff2');
                                                                                                                unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
                                                                                                            }
                                                                                                            /* latin */
                                                                                                            @font-face {
                                                                                                                font-family: 'Crimson Pro';
                                                                                                                font-style: normal;
                                                                                                                font-weight: 700;
                                                                                                                font-display: swap;
                                                                                                                src: url(https://fonts.gstatic.com/s/crimsonpro/v13/q5uDsoa5M_tv7IihmnkabARboYE.woff2) format('woff2');
                                                                                                                unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
                                                                                                            }





body {

    background-image: url("https://m9onvw.am.files.1drv.com/y4m_cxxEu58OX8gmrCbx3dzRVKDl3L3sWDQPd9ZrmYLcOrG_GTIBvHIxYaCI589-Twpu7QFeoSMoVf0c0PcwzTDpwK-21hfs0hOAtenDWS-t0wS8zsnHWEEVfN97di9LFBFGx2jcK1w24b71U0nCCySfyjqk37cw_m9N0H42d0jeksj72YjIq4Qbr_GVWDl_JU8jOvfLvdCXDB8Gm9OtFMUhw");
    background-size: 300px 300px;
    background-color: #dae3e5;

    font-family: "Crimson Pro";

    box-sizing: border-box;

    overflow-x: hidden;
    
}


/*nav design*/
nav {
    display: block;
    position: relative;
    top: 0px;
    left: -8px;
    height: auto;
    width: 100%;
    margin-bottom: 62px;
    
    color: #dbfcff;

    box-sizing: border-box;
}

nav ul {

    list-style: none;
    
    margin: 0px !important;
    position: fixed;
    top: 0px;
    
   
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0px !important;



    box-sizing: border-box;

    width: 100%;
    height: fit-content;

    z-index: 99;


}

nav li {
 min-width: 100px;
 width: 20%;

 margin: 0px 0.5px;
 background-color: #320e3b;
 padding: 10px 50px;
 letter-spacing: 5px;

 text-align: center;
 font-size: small;

 box-sizing: border-box;
 top: 0px;
}

nav li:nth-child(1){
margin-left: 0px;
}

nav li:last-child{
    margin-right: 0px;
}
/*nav design*/

/*side nav*/
#side-nav {

    display: block;
    position: fixed;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    right: -251px;
    top: 65%;


    z-index: 150;

    width: 300px;
    height: 150px;

    background-color: transparent;
    color: #dbfcff;
    border: none;
    box-shadow: none;
    box-sizing: border-box;

    transition: all;

    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;


    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

    
}

#side-nav:hover, #side-nav:active {

    right: -1px;

}

#shown-side-nav {

    width: 50px;
    height: 70px;
    background-color: #dbfcff;
    z-index: 152;

    border: none;

    box-shadow: 3px 2px 5px 0.2px #320e3b;
    box-sizing: border-box;

    margin-right: -1px;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

#hidden-side-nav {

    width: 250px;
    height: 150px;
    background-color: none;
    z-index: 151;

    border: solid 1px #dae3e5;
    
    box-shadow: 3px 2px 5px 0.2px #320e3b;
    box-sizing: border-box;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}


#search-icon {

    width: 25px;
    height: 25px;
    background-color: none;

    background-image: url("https://wy5uqg.am.files.1drv.com/y4mYfsxL9Fl17_46FG_fiOfV3wXFnb2bnsuGWauHof76QRLHQIUGdlL394nIgust33LElsKEGM_Vm9K7FYuewq3f4kb-R0kHfLc7g6ZhU7DC0HeIR9wYu7Z-Gnzx8EJVg4NMhXJGgyhCBr_Oz7P0CG3GmCckrR96Rq9uBexA9hkVJuHxt79Ok2Ejm5IDtZchH_ql8ZkRS3x6bJaE5xa1NzGwg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;

}

#help-icon {

    width: 25px;
    height: 25px;
    background-color: none;
    text-align: center;
    user-select: none;
    color: #320e3b;

}

#search-container {

    width: 230px;
    height: 60px;
    background-color: none;
    text-align: center;
    user-select: none;
    color: #320e3b;
    margin-bottom: 5px;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

#contact-us-container {

    width: 230px;
    height: 60px;
    background-color: none;
    text-align: center;
    user-select: none;
    color: #320e3b;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

#search-container textarea {

    width: 200px;
    height: 27px;
    overflow: hidden;
    resize: none;
    margin-bottom: 3px;
    box-sizing: border-box;

    font-family: "Crimson Pro";
}

#search-container button {

    background-color: #320e3b;
    color: #dbfcff;
    border: none;
    font-family: "Crimson Pro";

    padding: 5px 14px;
    
    
    font-size: small;
    font-weight: 200;
    letter-spacing: 3px;
    box-sizing: border-box;

    box-shadow: 3px 2px 5px 0.2px black;
}

#contact-us-container button {

    background-color: #320e3b;
    color: #dbfcff;
    border: none;
    font-family: "Crimson Pro";

    padding: 10px 25px;
    
    
    font-size: small;
    font-weight: 200;
    letter-spacing: 3px;
    box-sizing: border-box;

    box-shadow: 3px 2px 5px 0.2px black;
}






/*side nav*/


/*logo container*/
#logo-container {
    display: block;
    position: relative;
    left: 15%;
    background-color: #320e3b;
    color: #dbfcff;
    width: 70%;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    padding: 10px 25px;
    box-sizing: border-box;
}

/*logo container*/


/*main showcase*/
#main-showcase{
    display: block;
    position: relative;
    left: 15%;
    background-image: url("https://xwalnq.am.files.1drv.com/y4mpN5NpGkM80gerdIWfhnaep0qpDCV6BDtfxe0HAxedYwoCnnAb3ZJuPfPezlCDHEmCtYnEXOtu_f_HoaUNfcmHn-tAm3hbVCRJJ7qZ5R9C7TOM7pdZLMumGxtLU15kuT7FRx70mYMvp7pW5EXV_pUUeWbyuM5ZQwhX1rKYlLg8HfXnaWVBDUetDvf5JYmsjzy9rplHlGmog9fBQ1tyv1LvQ");
    background-repeat: no-repeat;
    background-size: cover;
    
    color: #dbfcff;
    width: 70%;
    height: 600px; 
    text-align: center;
    font-size: normal;
    font-weight: 200;
    box-sizing: border-box;

    margin-top: 3px;
    

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;

    justify-content: flex-end;
    align-items: center;

    overflow-x: hidden;
}

#shoutout {
    background-color: #320e3b;
    padding: 10px 50px;
    width: 300px;
    letter-spacing: 5px;
    line-height: normal;
    opacity: 0.69;
    margin-bottom: 30px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: large;
}

#main-showcase button {

    background-color: #320e3b;
    color: #dbfcff;
    border: none;
    font-family: "Crimson Pro";

    padding: 5px 25px;
    margin-bottom: 15px;
    
    font-size: large;
    font-weight: 500;
    letter-spacing: 3px;
    box-sizing: border-box;
    z-index: 99;
}

/*non static part*/

#main-showcase-container{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: none;

    width: 400%;
    height:100%;

    box-sizing: border-box;

    

    
}

.main-showcase-child {
    display: block;
    position: absolute;

    
    background-repeat: no-repeat;
    background-size: cover;

    width: 25%;
    height: 100%;
    background-color: none;
    color: #320e3b;

    font-size: xx-large;
    text-align: center;
    font-weight: 700;

    padding-top: 50px;
    box-sizing: border-box;

    transition: all;

    -webkit-transition-duration: 3s;
    -moz-transition-duration: 3s;
    -o-transition-duration: 3s;
    transition-duration: 3s;


    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  
    

}

#four {
    left:50%;
}

#three {
    left:25%
}

#two {
    left:0px;
}

#one {
    left:-25%;
}
  
/*non static part*/


/*main showcase*/

/*featured items from each page*/

#pages-featured {
    display: block;
    position: relative;
    left: 15%;
 
    
    color: #dbfcff;
    width: 70%;
    height: fit-content;
    text-align: center;
    font-size: normal;
    font-weight: 200;
    box-sizing: border-box;

    margin-top: 3px;
    margin-bottom: -10px;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
}

.featured {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    height: 240px;
    background-color: none;
    width: 33.2%;

    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3px;

    background-image: url("https://xwalnq.am.files.1drv.com/y4mpN5NpGkM80gerdIWfhnaep0qpDCV6BDtfxe0HAxedYwoCnnAb3ZJuPfPezlCDHEmCtYnEXOtu_f_HoaUNfcmHn-tAm3hbVCRJJ7qZ5R9C7TOM7pdZLMumGxtLU15kuT7FRx70mYMvp7pW5EXV_pUUeWbyuM5ZQwhX1rKYlLg8HfXnaWVBDUetDvf5JYmsjzy9rplHlGmog9fBQ1tyv1LvQ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.featured button {
    
    background-color: #320e3b;
    color: #dbfcff;
    border: none;
    font-family: "Crimson Pro";

    padding: 5px 25px;
    margin-bottom: 15px;
    
    font-size: large;
    font-weight: 500;
    letter-spacing: 3px;
}

#feature2{
    background-image: url("https://wlnfbw.am.files.1drv.com/y4mR2PIn-TyS9_H317XIZ-VgRErN1C7z9iXPDIlgqjiQFih7zS32pzm9TfSsMlu2zNyRXtpKwU6Qg6TaVmfpCfCUW1jSf_2Bi4HdXPZnXXwFV1N3DdaurwQhoRTrZtWO_8qDWDnbPxadCMsUrw8oxuZKTo6x8vJj_zO7isGPPII7YuJ9hILnck5kvVxIbhTXkOB585nJ0iI8iFYJS10_7KvKQ");
}
#feature3{
    background-image: url("https://m9oovw.am.files.1drv.com/y4m0pX5A7jUGnGj2465aEd8VUa7GIScXhAIiScXIbeEgOlrXiuU7nIl2hlxzKQrEs69qJ3ridzuRvpNS6hzNZUF-M9zklBgbrTXL56rHMbUwN9jQfHh4FmNw_cPa8WTZkt_LRDzMY6GeWqfaah_oQs5HDHDBaO6n7W8mBT27Z0z1ybkMiLC0xN_R-y34NUpe2nVUQLKYYoY8TDWTh1xW3bgNQ");
}
#feature4{
    background-image: url("https://wy5tqg.am.files.1drv.com/y4m7ckyQA3GBE4xxFQ-bbPxsOpvSE6sKdnZ6KxsYo7LnCfmmJ_8vkP9-FEOYmiJ_txR8H6GouD_IkVpMnm1cbfGoYLYyU5fmNnjgXHwgD0qkK9LFqEmJcUPcTzd0E_S_zX5nMHy7sXwYY72B9yf8FRr4ZG5DUUWI8r5Oc_1M1nUJVURLp9OuZVuqUFkZ_aBGVqkAWvBzd_vXBT-WRnD2qXz8Q");
}
#feature5{
    background-image: url("https://ynwy1w.am.files.1drv.com/y4mjpvtuExTye3Z-rZtrwrOWyEjkoY0uNIMr2RFtBN5vbOfj7u82Y_ZRxMaGm8GiI980rp7XoUcZqzMFJdQ1_0lB1SU-w3yXbn7Xyj9I1LsvBWUbQrAj1n2xnji3gQWUBYTtu7MdClU6hvXU5X-Ibuv0SFn-aafyY2s6fe9J2_qMjf7NN2wxFgjBQSkkwGpOr1sNvLVjkOsuUPOg0NPGQ60GQ");
}
#feature6{
    background-image: url("https://zkdqyg.am.files.1drv.com/y4mOSMpOXTVxKVy60xUGCGKzLeT7WQM7qjViPivB9GuqB8gY3jjwYjhopEAB6-ugT6gKfpF_LT8gf13mXdn50fg8yoAzcaeIsJEebNzeSLZ12vXAfbTch5-XJB_45JVKSVXztINoDMiBQIan-x1nCw90VakGsB_zoNq6AisWfAHpuFQnFpMdsLE4bL3GRlSBIKzBVEvPuIpt867aWLUuwe5Yw");
}

/*featured items from each page*/

/*footer styles*/

footer{
    display: block;
    position: relative;
    bottom: -10px;
    left: 0px;
    
    
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    height: fit-content;
    background-color: #320e3b;
    color: #dbfcff;
    width: 105%;

    justify-content: space-between;
    align-items: center;

    padding: 30px 25px;
    margin-left: -10px;
    
    
}

#company-details{
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


#social-site-map{
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;

    margin-right: 70px;
}

#social-footer{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 3px;
}

.social-icon {
    box-sizing: border-box;
    
    height: 36px;
    width: 36px;
    margin-bottom: 3px;
    margin-left: 2px;

    background-color: none;
    

    background-image: url("https://xwalnq.am.files.1drv.com/y4mpN5NpGkM80gerdIWfhnaep0qpDCV6BDtfxe0HAxedYwoCnnAb3ZJuPfPezlCDHEmCtYnEXOtu_f_HoaUNfcmHn-tAm3hbVCRJJ7qZ5R9C7TOM7pdZLMumGxtLU15kuT7FRx70mYMvp7pW5EXV_pUUeWbyuM5ZQwhX1rKYlLg8HfXnaWVBDUetDvf5JYmsjzy9rplHlGmog9fBQ1tyv1LvQ");
    background-repeat: no-repeat;
    background-size: cover;

}

#facebook{

    background-image: url("https://jeubzq.am.files.1drv.com/y4mBfhLqfU3ldv6q7JE17hwtl_gQYdOwBhdbx632myiz4q19mtn0sDfWz0zbPN4YnYX_DtRzy7hu1x4RZNDbaqb9IiN1ZiRNAVvNXVcmBKOSQEAP3VagQ8KUXHtBKro-57TMLC-MvXd51mT0udpyYtKxcT3CZSp1Xh2T95ksqHDPIdqf46qdQUIJfrpuoR4BalY6XD_CUTyv1GpLii-UraIFA");

}

#instagram{

    background-image: url("https://yxwv1w.am.files.1drv.com/y4m8W7vJwGpvGMBkiwUHaXl2mkQJwybk8ZTpoKDfN32wUgHBbLMOIAfEbBMbNrQ8uZujIaAYdp9Z6dxX8MVqWyQoWPx4aUqopaqhAX34I-njMvuuy4kfW74odCB4mazg-cHB1m7aNbRxNQ9MqKZErkH3XpEvG-SxE29Rke33592Gtgcp98Oate0IvdQK8KW_KgnrFowNV7x1xbBCjtxwpoypA");

}

#twitter{

    background-image: url("https://k4xgkg.am.files.1drv.com/y4mlYDICI6BP_ecXnvm-jEQUNF1GW-U4w-G1uUmmG7aWSzzjp1wVlFQFBhwM9XBIoXCJMlqOHcCFcVM2RwNpQ36LYqO3f6Bv5MfYpdIgCmA8K8EZ0OBF-2Yo2i9yWi8wAKZ4TJ6oH21GasGzmzom9vQ-x9fsLZA5jtno-5A2-RtS-7SuzSZ8Wn7KJmWV6hJCeuel03xWTmnxG3t1e-X60W5Bg");

}

#linkedin{

    background-image: url("https://xgainq.am.files.1drv.com/y4myBiWvR5v54VyIioXlyDRZuw8tFCXj1PN8ncXFQfzmpCj8hkzR9lFfK82nBYgJL2ecVuU0EL7VzWyyuEZPnqbaevrmLr6NlOXf4cZZihiJYIVyh-E4LpFoqhTgMEP-q80isHkbdMou0fKLPXUNkEQmApN0lVxzfLsfk_-1GKXT9Rtv8OpCQ9A6jXqrvE3NxVzhgw9-ugQuvbb3pgHN2zYeQ");

}


#company-name {
    font-size: large;
    font-weight: 500;
    letter-spacing: 3px;
}

#location-details, #contact-details, #site-map-footer {
    font-size: small;
    font-weight: 200;
    letter-spacing: 3px;
    padding: 5px 0px;
    line-height: normal;
}



/*footer styles*/

